.contact{
    background: linear-gradient(120deg , lightblue ,rgb(171, 144, 238));
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    color: white;
    a{
        text-decoration: none;
    }
}